body {
    background-color: darkblue;
    color: lightblue;
}

.content {
    background-color: darkblue;
    color: lightblue;
}

.feed_title{
    background-color: darkblue;
    color: lightblue;
}